<html>
  <body>
    <img src="turner.jpg" alt="Turner" style="width:304px;height:228px">
    <h1>Turner says hello from <%= node['fqdn'] %></h1>
    <pre>
      <%= node['hostname'] %>
      <%= node['platform'] %> - <%= node['platform_version'] %>
      <%= node['memory']['total'] %> RAM
      <%= node['cpu']['total'] %> CPUs
    </pre>
  </body>
</html>
