<html>
  <body>
    <img src="hooch.jpg" alt="Hooch" style="width:200px;height:200px">
    <h1>Hooch says hello from <%= node['fqdn'] %></h1>
    <pre>
      <%= node['hostname'] %>
      <%= node['platform'] %> - <%= node['platform_version'] %>
      <%= node['memory']['total'] %> RAM
      <%= node['cpu']['total'] %> CPUs
    </pre>
  </body>
</html>
